<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script>
        const ROOM_ID = "<%=roomId%>"
    </script>

    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="dist/ace-collab-ext.css">
</head>

<body>
    <div class="editor-wrapper">
        <div id="editor"></div>
    </div>
</body>
<script src="src-noconflict/ace.js"></script>
<script src="dist/ace-collab-ext.js"></script>
<script src="dist/bundle.js"></script>

</html>