* {
    margin: 0;
    padding: 0;
}

.editor-wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#editor {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: 22px;
}

.editor-body {
    height: 100%;
    position: relative;
}

.code-editor-toolbar {
    height: 50px;
}